{% extends 'base.html.twig' %}

{% block title %}Productos
{% endblock %}

{% block body %}

	<div class="container">
		<br>
		<div class="row">
			{% for producto in productos %}
				<div class="col-md-3 col-center">
					<div
						class="card">
						{# <img class="card-img-top" src="..." alt="Card image cap"> #}
						<div class="card-body">
							<h5 class="card-title">{{ producto.name }}</h5>
							<p class="card-text">{{ producto.description }}</p>
						</div>

						<div class="card-body">
							<h5>${{producto.price}}</h5>
							<p>{{ producto.category }}</p>
							<a href='javascript:;' onclick="pasarela({{ producto.id }});" role="button" class="btn btn-success">Comprar</a>
						</div>
					</div>
					<br>
				</div>

			{% endfor %}
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="pasarela">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Orden de pago</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="ordenDiv">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer" id="botonDiv">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/pasarela.js"></script>

{% endblock %}
